page-login {
  .content {
    background: #fefefe;
  }

  .logo-wrapper {
    margin-top: calc(50vh - 260px);

    img {
      height: 100px;
    }
  }

  .form-wrapper {
    max-width: 600px;
    margin: 10vh auto 0 auto;
  }

  .footer {
    background: color($colors, primary);
    color: white;
  }
}
