<ion-header>
  <ion-navbar>
    <ion-title>Minhas doações {{isAdmin() ? '(Admin)' : ''}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="fireworks-background" *ngIf="showFireworks">
    <fireworks></fireworks>
  </div>

  <div *ngIf="isDownloading()"
       text-center padding no-lines>
    <ion-spinner></ion-spinner>
    <h6>Carregando...</h6>
  </div>

  <div *ngIf="isError()" margin-top padding>
    <div text-center no-lines>
      <h6>Infelizmente ocorreu um erro, clique abaixo para tentar novamente.</h6>
    </div>

    <div text-center>
      <button ion-button outline small (click)="retry()">
        Tentar novamente
      </button>
    </div>
  </div>

  <div *ngIf="isEmpty()" text-center padding tappable (click)="donate()">
    <h6>Você ainda não doou nenhum livro.</h6>
    <p>Clique aqui para fazer essa boa ação!</p>
    <h1 class="heart-icon">♥</h1>
  </div>

  <button ion-item *ngFor="let item of donatedBooks" (click)="editDonatedBook(item)">
    <h2>{{item.title}}</h2>
    <p>{{item.author}}</p>
    <p>{{item.daysInShowcase}} {{item.daysInShowcase === 1 ? 'dia' : 'dias'}} na vitrine</p>
    <p>{{item.totalInterested}} {{item.totalInterested === 1 ? 'interessado' : 'interessados'}}</p>
    <p *ngIf="item.trackingNumber">Rastreio: {{item.trackingNumber}}</p>
    <p *ngIf="!canChooseDonator(item) && item.chooseDate">
      Escolha o granhador em {{getRemainingDays(item.chooseDate)}} dias
    </p>
    <ion-badge *ngIf="canChooseDonator(item)" color="primary-light">
      Escolha o granhador
    </ion-badge>
    <ion-badge color="{{getStatusColor(item.status)}}" item-right>
      {{item.status}} {{item.status === 'Doado' ? '❤' : ''}}
    </ion-badge>
  </button>
</ion-content>
