<ion-header>
  <ion-navbar>
    <ion-title>Minhas doações {{isAdmin() ? '(Admin)' : ''}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="isDownloading()"
       text-center padding no-lines>
    <ion-spinner></ion-spinner>
    <h6>Carregando...</h6>
  </div>

  <div *ngIf="isError()" margin-top padding>
    <div text-center no-lines>
      <h6>Infelizmente ocorreu um erro, clique abaixo para tentar novamente.</h6>
    </div>

    <div text-center>
      <button ion-button outline small (click)="retry()">
        Tentar novamente
      </button>
    </div>
  </div>

  <div *ngIf="isEmpty()" text-center padding tappable (click)="donate()">
    <h6>Você ainda não doou nenhum livro.</h6>
    <p>Clique aqui para fazer essa boa ação!</p>
    <div class="heart-icon">♥</div>
  </div>

  <button ion-item *ngFor="let item of donatedBooks">
    <h2>{{item.title}}</h2>
    <p>{{item.author}}</p>
    <p>{{item.daysInShowcase}} dia(s) na vitrine</p>
    <p>{{item.totalInterested}} interessado(s)</p>
    <ion-badge color="{{getBadgeStatusColor(item.status)}}" item-right>
      {{item.status}}
    </ion-badge>
  </button>
</ion-content>
