page-my-donations {
  .spinner-wrapper {
    text-align: center;
  }

  .item-divider {
    background-color: #fafafa;
  }

  .label {
    white-space: normal;
  }

  .badge {
    color: white;
  }

  .fireworks-background {
    background: transparent;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
  }
}
