page-book-details {
  .book-cover {
    img {
      height: 50vw;
      max-height: 350px;
    }
  }

  .already-requested {
    color: white;
    background: color($colors, secondary);

    .label {
      text-align: center;
      white-space: normal;
    }
  }
}
