<ion-header>
  <ion-navbar>
    <ion-title>Sharebook {{isAdmin() ? '(Admin)' : ''}}</ion-title>

    <ion-buttons right>
      <button ion-button (click)="donate()">
        Doar ❤
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Puxe para atualizar"
      refreshingText="Atualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <!------------- Livros em destaque ------------->

  <ion-item-divider no-lines *ngIf="randomStatus.isDownloading() || (randomStatus.isSuccess() && randomBooks.length)">
    <h2>Livros em destaque</h2>
  </ion-item-divider>

  <ion-item *ngIf="randomStatus.isDownloading()" text-center padding no-lines>
    <ion-spinner></ion-spinner>
  </ion-item>

  <ion-item no-lines padding text-center *ngIf="randomStatus.isError()">
    <button ion-button (click)="getRandomBooks()">
      Tentar Novamente
    </button>
  </ion-item>

  <div class="books-shelf">
    <div class="books-shelf-item" *ngFor="let book of randomBooks" tappable (click)="openDetails(book)">
      <img class="book-cover" [src]="book.imageUrl" (error)="onImgLoadError(book)">
      <div class="book-name">
        {{ book.title }}
      </div>
    </div>
  </div>

  <!------------- Livros mais recentes ------------->

  <ion-item-divider *ngIf="newStatus.isDownloading() || (newStatus.isSuccess() && newBooks.length)">
    <h2>Livros mais recentes</h2>
  </ion-item-divider>

  <ion-item *ngIf="newStatus.isDownloading()" text-center padding no-lines>
    <ion-spinner></ion-spinner>
  </ion-item>

  <ion-item no-lines padding text-center *ngIf="newStatus.isError()">
    <button ion-button (click)="getAvailableBooks()">
      Tentar Novamente
    </button>
  </ion-item>

  <button ion-item *ngFor="let book of newBooks" (click)="openDetails(book)" text-wrap>
    <ion-avatar item-left class="book-avatar">
      <img [src]="book.imageUrl" (error)="onImgLoadError(book)">
    </ion-avatar>
    <h4>{{book.title}}</h4>
    <p>{{book.author}}</p>
  </button>

  <!-- Para quando não houver livro nenhum -->

  <div class="no-books-message"
       *ngIf="newStatus.isSuccess() && newBooks.length === 0 && randomStatus.isSuccess() && randomBooks.length === 0">
    <h4>
      Nenhum livro encontrado 😞<br/>
      Ajude o Sharebook doando um livro agora.<br>
    </h4>

    <button ion-button (click)="donate()" color="danger" outline>
      Doar <span class="heart-icon">❤</span>
    </button>
  </div>
</ion-content>
