page-settings {
  .version {
    color: gray;
  }

  .linkedin-logo {
    .icon {
      color: #0274b3;
    }
  }

  .instagram-logo {
    .icon {
      color: #9b6c52;
    }
  }

  .facebook-logo {
    .icon {
      color: #4267b2;
    }
  }
}
