// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar {
  .toolbar-background {
    background: color($colors, primary);
  }

  .toolbar-title {
    color: white;
  }

  .button-inner {
    color: white;
  }

  .bar-button-menutoggle {
    color: white;
  }

  ion-header ion-icon.back-button-icon.icon {
    color: #fff;
  }
}

.toast-success {
  .toast-message {
    background: color($colors, secondary);
    white-space: pre-line;
  }
}

.toast-error {
  .toast-message {
    background: color($colors, danger);
  }
}

.form-error {
  font-size: 75%;
  margin-left: 15px;
  color: color($colors, danger);
}

.dev-sticker {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 99;

  .sticker {
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
    background: #8eb484;
    display: inline-block;
    color: white;
  }
}

.heart-icon {
  color: color($colors, danger);
  margin-left: 5px;
}
