<ion-header>
  <ion-navbar>
    <ion-title>Meus pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="status.isDownloading()" text-center padding no-lines>
    <ion-spinner></ion-spinner>
    <h6>Carregando...</h6>
  </div>

  <div *ngIf="status.isError()" margin-top padding>
    <div text-center no-lines>
      <h6>Infelizmente ocorreu um erro, clique abaixo para tentar novamente.</h6>
    </div>

    <div text-center>
      <button ion-button outline small (click)="getRequestedBooks()">
        Tentar novamente
      </button>
    </div>
  </div>

  <ion-list *ngIf="status.isSuccess()">
    <div *ngIf="requestedBooks.length === 0" text-center padding>
      <h6>Você ainda não fez um pedido.</h6>
      <p>Não perca tempo, corra escolher o seu.</p>
      🙂
    </div>

    <button ion-item *ngFor="let item of requestedBooks">
      <h2>{{item.title}}</h2>
      <p>{{item.author}}</p>
      <ion-badge color="{{getBadgeStatusColor(item.status)}}" item-right>
        {{item.status}}
      </ion-badge>
    </button>
  </ion-list>
</ion-content>
